<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wo ist mein Crashbett?</title>
  </head>
  <body>
    {{NAME}} hat's.
  </body>
</html>